# Opcional: caminho absoluto para o Java que o RodLauncher deve usar.
# Windows:
# RODLAUNCHER_JAVA=C:\Program Files\Eclipse Adoptium\jdk-21\bin\java.exe
#
# Linux/macOS:
# RODLAUNCHER_JAVA=/usr/bin/java
